html{
  height: 100%;
  display: flex;
  flex-direction: column;
}

body{
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 2em;
}

.lead{
  font-size:1.15em !important;
}

.main-text{
  /* margin: 0 10em 0 10em; */
}

.main-desc{
  /* font-weight: 100 !important; */
}

.logo{
  color: rgba(0, 0, 0, 0.82);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  /* font-weight: lighter; */
}
/* #1E90FF */

.jain{
  color:rgb(13, 153, 214);
  font-weight: inherit;
}

.footer-style{
  color: rgba(0, 0, 0, 0.5);
  font-size: .80em;
}

.bg-image{
  background: url(../images/Top_Manufacturing.jpg) no-repeat center center fixed;

  /* opacity: 0.4; */

  height: 100%;

  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.blur {
  -webkit-filter: blur(0.3rem);
  filter: blur(0.3rem);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #f97300; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.material-icons{
  font-size: 1.3em;
}

.button-text{
  margin-left: 0.2em;
}

select.selectpicker{
  display: block !important;
}

.navbar-toggler{
background-color: transparent!important;
border-color: transparent!important;
}
