html{
  /* height: 100% !important; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

body{
  /* height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.vertical-fill{
  /* exception to spacing of 16unit factors and multiples */
  padding: 14em 0 14em 0;
}

.blue{
  color: rgb(13, 153, 214);
}

.blue-bg{
  background-color: rgb(13, 153, 214);
}

.dark-bg{
  background-color: rgba(0, 0, 0, 0.85);
}

.light-bg{
  background-color: whitesmoke;
}

.white{
  color: darkgrey;
}

.black{
  color: darkslategrey;
}

.thin-text{
  font-weight: 300;
  /* font-size:  */
}

.page-heading{
  font-size: 2.5rem;
}

.small-text{
  font-size: smaller;
}

.form-control{
  /* font-weight: 300 !important; */
}

.form-group{
  margin-bottom: 2em;
}

h1{
  font-size: 2em;
}

section{
  display: block;
  box-sizing: border-box;
}

.section-head{
  margin-bottom: 4em;
}


/* .lead{
font-size:1.15em !important;
} */

.main-text{
  /* margin: 0 10em 0 10em; */
}

.main-desc{
  /* font-weight: 100 !important; */
}

.logo{
  /* color: rgba(0, 0, 0, 0.68); */
  color: darkslategray;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  /* font-weight: lighter; */
}

.tagline{
  font-family: 'Roboto', sans-serif;
  font-size: normal;
  color: slategray;
  font-weight: 300;
}
/* #1E90FF */

.jain{
  /* font-weight: inherit; */
}

.footer-style{
  /* color: rgba(0, 0, 0, 0.5); */
  color: dimgrey;
  font-size: .80em;
}

.bg-image{
  background: url(../images/Top_Manufacturing.jpg) no-repeat center center fixed;

  /* opacity: 0.4; */

  height: 100%;

  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.button-text{
  margin-left: 0.2em;
}

.nav-item{
  /* font-size: smaller; */
  font-family: 'Roboto';
  font-weight: normal;
}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-bg-color{background-color: rgb(52, 58, 64, .95)}

.navbar-toggler{
  /* background: #fff !important; */
  /* background: none; */
  background:transparent !important;
  border: none;
}

.navbar-toggler:focus, navbar-toggler:active{
  outline: none;
  box-shadow: none;
  border-width: 0;
}


/* Navbar toggle icon animation css */
.toggle-icon{
  width: 24px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

/* need to change this redundancy for icon-bar class */
.navbar-toggler.collapsed .toggle-icon .icon-bar
{
  display: block;
  position: absolute;
  background-color: darkgrey;
  height: 2px;
  width: 100%;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navbar-toggler .toggle-icon .icon-bar{
  display: block;
  position: absolute;
  background-color: white;
  height: 1px;
  width: 100%;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navbar-toggler.collapsed .toggle-icon .icon-bar.top-bar {
  top: 1px;
  width: 100%;
  left: 0%;
}

.navbar-toggler.collapsed .toggle-icon .icon-bar.middle-bar, .navbar-toggler.collapsed .toggle-icon .icon-bar.second-middle-bar {
  top: 8px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggle-icon .icon-bar.bottom-bar {
  top: 15px;
  width:100%;
  left: 0%;
}

.navbar-toggler .toggle-icon .icon-bar.top-bar {
  top: 1px;
  width: 0%;
  left: 50%;
}

.navbar-toggler .toggle-icon .icon-bar.middle-bar {
  top: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-toggler .toggle-icon .icon-bar.second-middle-bar {
  top: 8px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar-toggler .toggle-icon .icon-bar.bottom-bar {
  top: 15px;
  width: 0%;
  left: 50%;
}
/* Navbar toggle icon animation css ends here  */


.nav-link{
  margin-right: 1em !important;
  color: darkslategray;
  font-weight: 300;
}

.nav-link:active{
  background-color: transparent !important;
}

.navbar-collapse{ justify-content: flex-end;}


#contact-form div .form-control{
  display:inline-block;
}

.custom-select-sm{
  font-size: .875rem;
}


/* Customers Page */
#customers{
  background-color: white;
}

.client-logo-fit{
  max-height: 10rem;
  max-width: 12rem;
  display: inline-block;
  margin: 2px;
}
